<div>
    <p>Real Time Products Sockets</p>

    <form action="/realTimeProducts/" method="post">

        <label for="title">Titulo</label>
        <input type="text" id="titleInput" name="title">
        <br>
        <label for="description">Descripcion</label>
        <input type="text" id="descriptionInput" name="description">
        <br>
        <label for="code">Codigo</label>
        <input type="text" id="codeInput" name="code">
        <br>
        <label for="price">Precio</label>
        <input type="text" id="priceInput" name="price">
        <br>
        <label for="stock">Cantidad</label>
        <input type="text" id="stockInput" name="stock">
        <br>
        <label for="category">Categoria</label>
        <input type="text" id="categoryInput" name="category">
        <br>
        <label for="thumbnails">Imagen</label>
        <input type="text" id="thumbnailsInput" name="thumbnails">
        <br>

        <button type="submit" id="addProductButton"> Enviar</button>

    </form>
    <br>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>TITULO</th>
                <th>DESCRIPCION</th>
                <th>CODIGO</th>
                <th>PRECIO</th>
                <th>STATUS</th>
                <th>CANTIDAD</th>
                <th>CATEGORIA</th>
                <th>IMAGEN</th>

            </tr>
        </thead>
        <tbody>
            {{#each products}}

                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.status}}</td>
                    <td>{{this.stock}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.thumbnails}}</td>
                </tr>
            {{/each}}

        </tbody>
    </table>



    {{!-- {{#if isAdmin}}
        {{#each products}}
            <div>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
            </div>
        {{/each}}
    {{else}}
        <td>No tienes permisos para ver la lista de alimentos</td>
    {{/if}} --}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>
